<div>
    <div class="container">
      <div class="row py-4 d-flex align-items-center" style="font-family: 'Share Tech Mono', monospace;">
      <div class="col text-center">
        <h4 class="text-muted">HOW IT WORKS</h4>
        <hr>
      </div>  
      </div>
      <div class="row py-4 d-flex align-items-center" style="font-family: 'Share Tech Mono', monospace;">
        <div class="col-md-4 col-lg-4 col-xl-4 mb-4 text-center text-muted">
          <i class="fa fa-search"></i>   
          <p>FIND YOUR ARTIST</p>
          <p>Explore the wide range of Entertainers and go through their profiles and testimonials.
            Click the 'Book' button on Artist's Profile and fill in your budget and other details
             about your Event. The Artist will get a notification and go through your requirements.
         </p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mb-4 text-center text-muted">
          <i class="fa fa-hourglass"></i>
          <p>ARTIST'S CONFIRMATION</p>
          <p>Now sit-back and wait for Artist's response. Once your budget and details suits the 
            artist's requirement, He/She/They will accept the request and confirm the booking 
            upon which you will get a notification on whether the artist accepted or rejected 
            the offer.
           </p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mb-4 text-center text-muted">
          <i class="fa fa-wallet"></i>
          <p>SECURE PAYMENT</p>
          <p> Once the artist accepts your booking request You can finally proceed for payment 
            by using the secure PayTm Online Payment gateway. Now You can relax and wind up to
             enjoy your favourite entertainer's dashing performance on your event day!</p>
        </div>
      </div>
    </div>
  </div>  
