<!-- Footer logo,contant,footer-icon,footer-link -->
<div class="page-footer font-small">
  <div class="bg-light">
    <div class="container">
      <!-- Grid first row for social-media icom -->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
        <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>
      </div>
       <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>    
 </div>
  <!-- Footer Links -->
<div class="container text-center text-md-left mt-5">
<!-- Grid second row for company information -->
  <div class="row mt-3 dark-grey-text">
    
    <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Logo & contant  -->
        <h6 class="font-weight-bold" style="color: red;">bookMyArtist</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="color: grey;">BookMyArtist is a web based application. It helps user to discover the best entertainer/artist in india for their events. The application encompasses all aspects of the booking cycle including availability dates, budget, managing contact with variety of artist categories. Artist can register with bookMyArtist to get suitable audience for themselves. Platform provides huge Opportunities to small Artists.
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <p>
          <a class="footer-link" href="#" style="font-weight: bold;">bookMyAtrist for Businuss</a>
        </p>
         <p>
          <a class="footer-link" href="#" style="font-weight: bold;">Artist On bookMyAtrist</a>
         </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <p>
          <a class="footer-link" href="#">Help and Support</a>
        </p>
        <p>
          <a class="footer-link" href="#">About us</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contact ">

        <!--contact  Links -->
        <h6 class="font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Pune,Maharashtra,India </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> bookMyArtist@hotmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91 9067064261</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91 9574328646</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +91 7350998779</p>
            <p>
              <i class="fas fa-phone mr-3"></i> +91 8005693123</p>         


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">&copy; 2020 Copyright:
    <a class="footer-link" href="#">bookMyAtrist.com</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer -->

