
<div class="container">
    <div class="row">
     <p class="Artist-profile-head">MY PROFILE</p>
    </div>
    <div class="row">
      <p class="Artist-profile-text">Control, Edit And Secure Your Account, All In One Place.
        My Account gives you quick access to settings and tools that let you
        change your details and schedule
      </p>
    </div>
<div class="card offset-3 mb-3" style="max-width: 840px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src=".\assets\carousel-images\Actor01.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: red;">{{artist.artistName}}</h5>
          <p class="card-text"><small class="text-muted">Genre:{{artist.artistGenre}}</small></p>
          <p class="card-text">BIO - I Am Professional {{artist.artistGenre}}</p>
           <p class="card-text">City:{{artist.artistAddress}}</p>
           <p class="card-text">Experience:{{artist.artistExperience}}</p>
           <p class="card-text">Mobile:{{artist.artistPhoneNumber}}</p>
          <p class="card-text"><small class="text-muted">verified</small></p>
          <p><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            </p>
        </div>
      </div>
    </div>
  </div>
