/* Registration Form Heading */
.registration-text{
    font-family: 'Share Tech Mono', monospace;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 28px;
    font-weight: lighterss;
}
