<div class="container">
    <div  *ngFor="let o of result">
     
    
        
     <div class="card offset-3" >
      
       <div class="card-body">
  
         <div class="card-text text-primary"><b>Order ID:</b> &nbsp; {{o.orderId}}</div>
         <div class="card-text text-muted"><b>User Type:</b> &nbsp;{{o.user.typeOfUser}}<div>
         <div class="card-text text-muted"><b>OrderDate:</b> &nbsp;{{o.bookedDate}}</div>
         <div class="card-text text-muted"><b>Order Venue:</b> &nbsp;{{o.venue}}</div>
         <div class="card-text text-primary"><b>User Name:</b> &nbsp;{{o.user.userName}}</div>
         <div class="card-text text-muted"><b>User Email:  </b>&nbsp; {{o.user.userEmail}}</div>
         
        
             
       </div>
       
      
       </div>
     </div>
    
 </div>
 &emsp;&emsp;&emsp;<br>
</div>     
