<h1><i>Welcome Admin</i></h1>
<table align="center">
    <tr>
        <td>

<input class="bg-primary" type="button" value="Add Artist  "  >

</td>
<tr>
<td>
<input class="bg-primary" type="button" value="View Artist ">        
</td>
</tr>

<tr>
    <td>


    <input class="bg-primary" type="button" value="View Order">
    
    </td>
</tr>
<tr>
    <td>
    <input class="bg-primary" type="button" value="View User  "  (click)="getAllUsersNow()">        
    </td>
    </tr>
    <tr>
        <td>
    
    
        <input class="bg-primary" type="button" value="Logout" (click)="logOutNow()">
        
        </td>
    </tr>    
    </table>
